
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: darkgray;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: lightgray;
}

.header {
    padding: 10px 0px 50px 0px;
}